# =========================
# Build / Output
# =========================
bin/
obj/
out/
# =========================
# User-specific files
# =========================
*.user
*.userosscache
*.suo
*.userprefs

# =========================
# Visual Studio
# =========================
.vs/
*.vsconfig

# =========================
# Rider / VSCode
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/
.nuget/

# =========================
# Publish
# =========================
publish/
wwwroot/dist/
wwwroot/lib/
wwwroot/


# =========================
# Secrets / Config
# =========================
appsettings.Development.json
appsettings.*.local.json
secrets.json

# =========================
# Certificates
# =========================
*.pfx
*.key
*.pem

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Test results
# =========================
TestResults/
*.trx
*.coverage

# =========================
# Temp
# =========================
*.tmp
*.temp